# The domain of your Snikket instance
SNIKKET_DOMAIN=example.com

# The email address of the primary admin
SNIKKET_ADMIN_EMAIL=admin@example.com

SNIKKET_WEB_PROSODY_ENDPOINT='http://snikket_server:5280'
SNIKKET_WEB_DOMAIN='snikket_server'

SNIKKET_TWEAK_INTERNAL_HTTP_HOST=snikket_server
SNIKKET_TWEAK_INTERNAL_HTTP_INTERFACE=0.0.0.0
SNIKKET_TWEAK_INTERNAL_HTTP_PORT=5280

SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_HOST=snikket_portal
SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_INTERFACE=0.0.0.0
SNIKKET_TWEAK_PORTAL_INTERNAL_HTTP_PORT=5765

SNIKKET_TWEAK_TURNSERVER_MIN_PORT=60000
SNIKKET_TWEAK_TURNSERVER_MAX_PORT=60019
