#background {
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background: url(/background.jpg) no-repeat center center fixed;
	background-size: cover;
	filter: blur(10px);
	opacity: 0.5;
	background-color: #ccc;
}

#form {
  margin-top: 100px;
  opacity: 0.8;
}

#form .card {
	border-color: #4f9bcd;
	border-width: 1px;
	border-radius: 25px;
}

#form .card h1 {
	font-size: 1.8rem;
}

#powered-by {
	text-align: right;
	margin-right: 15px;
	font-size: 90%;
	padding-top: 5px;
}

#powered-by img {
	height:1.5em;
}

#form .account-details label {
	font-weight: bold;
}
