---

- name: "Install coturn package"
  apt:
    name: coturn
    state: present
    install_recommends: yes

- name: "Install dnsutils package"
  apt:
    name: dnsutils
    state: present
    install_recommends: no

- name: "Disable coturn service"
  service:
    name: coturn
    enabled: no
- name: "Stop coturn if running"
  service:
    name: coturn
    state: stopped
- name: Configure coturn
  copy:
    src: ../files/turnserver.conf
    dest: /etc/turnserver.conf

- name: "Add start script"
  copy:
    src: "../files/bin/start-coturn.sh"
    dest: "/usr/local/bin/start-coturn.sh"
    mode: 0755

- name: "Add to supervisord"
  file:
    path: /etc/supervisor/conf.d/coturn.conf
    src: ../files/supervisor-coturn.conf
