---
# Main playbook

- hosts: all
  become: yes
  gather_facts: no
  vars:
    prosody:
      package: "prosody-trunk"
      snapshot: "2023-10-01"
    prosody_modules:
      revision: "5178c13deb78"
  tasks:
    - import_tasks: tasks/prosody.yml
    - import_tasks: tasks/supervisor.yml
    - import_tasks: tasks/cron.yml
    - import_tasks: tasks/certs.yml
    - import_tasks: tasks/mail.yml
    - import_tasks: tasks/coturn.yml
    - import_tasks: tasks/scripts.yml
